<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>Chromastage</string>
  <key>CFBundleName</key>
  <string>Chromastage</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>NSAppleEventsUsageDescription</key>
  <string>Chromastage needs access to Apple Music to read now playing info and control playback.</string>
</dict>
</plist>
